@page
@model SIPI_CRM_System.Pages.StockPageModel

@{
    string login = Request.Query["login"];
    string isAdmin = Request.Query["isadmin"];

    @if (Request.Query["isadmin"] == "True")
        Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    else
        Layout = "~/Pages/Shared/_EmployeeLayout.cshtml";
}


<!--Menu Button Offcanvas left-->
<div class="offcanvas offcanvas-start menu-offcanvas"
     tabindex="-1"
     id="offcanvasMenu"
     aria-labelledby="offcanvasMenu">
    <!--Offcanvas header-->
    <div class="offcanvas-header text-light">
        <h5 class="offcanvas-title" id="offcanvasMenu">Главное меню</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!--Offcanvas body-->
    <div class="offcanvas-body">
        <nav class="dashboard-nav-list">
            <!--User Page-->
            <a class="navbar-brand" asp-area=""
               asp-page="/UserPage/UserPage"
               asp-route-login="@login"
               asp-route-isadmin="@isAdmin">
                Личный кабинет
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav-item-divider"></div>
            <!--Main Page-->
            <a class="navbar-brand" asp-area=""
               asp-page="/MainPage/MainPage"
               asp-route-login="@login"
               asp-route-isadmin="@isAdmin">
                Dashboard
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav-item-divider"></div>
            <!--Stock Page-->
            <a class="navbar-brand" asp-area=""
               asp-page="/StockPage/StockPage"
               asp-route-login="@login"
               asp-route-isadmin="@isAdmin">
                Склад
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav-item-divider"></div>
            <!--Menu Page-->
            <a class="navbar-brand" asp-area=""
               asp-page="/MainPage/MainPage"
               asp-route-login="@login"
               asp-route-isadmin="@isAdmin">
                Меню
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Admin Page-->
            @if (isAdmin == "True")
            {
                <div class="nav-item-divider"></div>
                <a class="navbar-brand" asp-area=""
                   asp-page="/MainPage/MainPage"
                   asp-route-login="@login"
                   asp-route-isadmin="@isAdmin">
                    Панель администатора
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            }
        </nav>
    </div>
</div>

<div class="container-fluid text-center">
    <div class="row justify-content-center">
        <div class="col-sm-2 text-black">
            @if (!Model.Categories.Any())
            {
                <h1 class="text-light">Не добавленны объекты</h1>
            }
            else
            {
                <h1 class="mt-5 mb-3 text-black">Категории</h1>
                <form asp-page-handler="UpdateCategories"
                      asp-route-login="@login"
                      asp-route-isadmin="@isAdmin"
                      method="post">
                    @foreach (var item in Model.Categories)
                    {
                        var CategotyID = item + "Id";
                        <div class="form-check checkbox-lg">
                            <input name="CategoryCheck" class="form-check-input mx-2" type="checkbox" value="@item" id="@CategotyID" 
                                   @(Model.SelectedCategories.Contains(item) ? "checked" : "")>
                            <label class="form-check-label" for="@CategotyID">
                                @item
                            </label>
                        </div>
                    }
                    <button class="btn btn-primary m-3 btn-lg">Обновить</button>
                </form>
            }
            <div class="card-body" style="background-color: #20c997">
                <h2 class="title">Добавление файла</h2>
                <form asp-route-login="@login"
                      asp-route-isadmin="@isAdmin"
                      method="post"
                      enctype="multipart/form-data">
                    <input class="btn-dark" type="file" name="formFile">
                    <button class="btn-light" asp-page-handler="AddByDocument" type="submit">Загрузить файл</button>
                </form>
                @if (Request.Query["loadException"] == "True")
                {
                    <div class="alert alert-danger mt-1" role="alert">
                        Файл не выбран
                    </div>
                }
                else if (Request.Query["incorrectExtension"] == "True")
                {
                    <div class="alert alert-danger mt-1" role="alert">
                        Загрузите файл с расширением .xlsx
                    </div>
                }
                else if (Request.Query["fileProcessingException"] == "True")
                {
                    <div class="alert alert-danger mt-1" role="alert">
                        Ошибка обработки файла
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-9">
            <h1 class="title m-2 text-black">Продукты</h1>
            <!--Add offCanvasRight-->
            <div class="d-grid">
                <button class="btn btn-primary m-2 btn-lg"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offCanvasRightAdd"
                        aria-controls="offCanvasRightAdd">
                    Добавить новый продукт
                </button>
            </div>
            <span class="title m-2 text-black d-flex justify-content-end p-1">
                <span class="mb-1" style="font-size: 20px">Сортировать по:</span>
                <form class="bg-light mx-2"
                    asp-route-login="@login"
                    asp-route-isadmin="@isAdmin"
                    asp-page-handler="UpdateProductsOrderByDeliveryDate" method="post"
                    asp-route-deliveryDateSortLabel="@Model.DeliveryDateSortLabel">
                    <label>Дата доставки</label>                    
                    <input type="submit" value="@Model.DeliveryDateSortLabel" 
                           class="btn btn-outline-dark btn-sm"/>
                </form>
                <form class="bg-light mx-2"
                    asp-route-login="@login"
                    asp-route-isadmin="@isAdmin"
                    asp-page-handler="UpdateProductsOrderByFitness" method="post"
                    asp-route-fitnessSortLabel="@Model.FitnessSortLabel">
                    <label>Годность</label>                    
                    <input type="submit" value="@Model.FitnessSortLabel" 
                           class="btn btn-outline-dark btn-sm"/>
                </form>
                <form class="bg-light mx-2"
                    asp-route-login="@login"
                    asp-route-isadmin="@isAdmin"
                    asp-page-handler="UpdateProductsOrderByName" method="post"
                    asp-route-nameSortLabel="@Model.NameSortLabel">
                    <label>Имя</label>                    
                    <input type="submit" value="@Model.NameSortLabel" 
                           class="btn btn-outline-dark btn-sm"/>
                </form>
            </span>
            <div class="offcanvas offcanvas-end add-offcanvas" tabindex="-1"
                 id="offCanvasRightAdd"
                 aria-labelledby="offCanvasRightAdd">
                <div class="offcanvas-header">
                    <h1 id="offCanvasRightAdd">Добавить новый продукт:</h1>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <form asp-page-handler="Add" method="post">
                        <div class="form-group">
                            <label for="Name">Название:</label>
                            <input type="text" class="form-control" name="Name" placeholder="Имя">
                        </div>
                        <div class="form-group">
                            <label for="Category">Категория:</label>
                            <input class="form-control" name="Category" placeholder="Категория">
                        </div>
                        <div class="form-group">
                            <label for="Amount">Количество:</label>
                            <input class="form-control" name="Amount" placeholder="Количество шт">
                        </div>
                        <div class="btn-toolbar m-4" role="toolbar">
                            <div class="btn-group me-2" role="group">
                                <button class="btn btn-success">Добавить</button>
                            </div>
                            <div class="btn-group me-2" role="group">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas" aria-label="Close">Отменить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            @if (!Model.PaginatedProducts.Any())
            {
                <h1 class="text-light">Не добавлены объекты</h1>
            }
            else
            {
                foreach (var item in Model.PaginatedProducts)
                {
                    var offcanvasRightDeleteID = "offcanvasRightDelete" + item.Id;
                    var offCanvasRightEditID = "offCanvasRightEdit" + item.Id;

                    <!--Product Card-->
                    <div class="card m-2">
                        <!--Product Card Header-->
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5>@item.Name</h5>
                            <div class="btn-group" role="group">
                                <!--Edit offCanvasRight Button-->
                                <button class="btn btn-success"
                                        data-bs-toggle="offcanvas"
                                        data-bs-target="#@offCanvasRightEditID"
                                        aria-controls="@offCanvasRightEditID">
                                    Изменить
                                </button>
                                <!--Edit offCanvasRight-->
                                <div class="offcanvas offcanvas-end @offCanvasRightEditID" tabindex="-1"
                                     id="@offCanvasRightEditID"
                                     aria-labelledby="@offCanvasRightEditID">
                                    <style type="text/css">
                                        .@offcanvasRightDeleteID {
                                            background-color: #212529;
                                            color: white;
                                        }
                                        .@offCanvasRightEditID {
                                            background-color: #212529;
                                            color: white;
                                        }
                                    </style>
                                    <!--Edit offCanvasRight Header-->
                                    <div class="offcanvas-header">
                                        <h1 id="@offCanvasRightEditID">@item.Name</h1>
                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                    </div>
                                    <!--Edit offCanvasRight Body-->
                                    <div class="offcanvas-body">
                                        <form asp-page-handler="Update" asp-route-id="@item.Id" method="post">
                                            <div class="form-group">
                                                <label for="Name">Название:</label>
                                                <input type="text" class="form-control" name="Name" placeholder="@item.Name" value="@item.Name">
                                            </div>
                                            <div class="form-group">
                                                <label for="Category">Категория:</label>
                                                <input type="text" class="form-control" name="Category" placeholder="@item.Category" value="@item.Category">
                                            </div>
                                            <div class="form-group">
                                                <label for="Amount">Количество:</label>
                                                <input type="text" class="form-control" name="Amount" placeholder="Количество шт, г" value="@item.Amount">
                                            </div>
                                            <div class="btn-toolbar m-4" role="toolbar">
                                                <div class="btn-group me-2" role="group">
                                                    <button class="btn btn-success">Изменить</button>
                                                </div>
                                                <div class="btn-group me-2" role="group">
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas" aria-label="Close">Отменить</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!--Delete offCanvasRight Button-->
                                <button class="btn btn-danger"
                                        data-bs-toggle="offcanvas"
                                        data-bs-target="#@offcanvasRightDeleteID"
                                        aria-controls="@offcanvasRightDeleteID">
                                    Удалить
                                </button>
                                <!--Delete offCanvasRight-->
                                <div class="offcanvas offcanvas-end @offcanvasRightDeleteID" tabindex="-1"
                                     id="@offcanvasRightDeleteID"
                                     aria-labelledby="@offcanvasRightDeleteID">
                                    <!--Delete offCanvasRight Header-->
                                    <div class="offcanvas-header">
                                        <h5 id="@offcanvasRightDeleteID">Вы уверенны в удалении товара со склада?</h5>
                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                    </div>
                                    <!--Delete offCanvasRight Body-->
                                    <div class="offcanvas-body">
                                        <p class="card-text d-flex">
                                            @item.Name Остаток: @item.Amount
                                        </p>
                                        <div class="btn-toolbar" role="toolbar">
                                            <div class="btn-group me-2" role="group">
                                                <form asp-page-handler="Delete" asp-route-id="@item.Id" method="post">
                                                    <button class="btn btn-success">Да</button>
                                                </form>
                                            </div>
                                            <div class="btn-group me-2" role="group">
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas" aria-label="Close">Нет</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--Product Card Body-->
                        <div class="card-body bg-info p-2 text-dark bg-opacity-10">
                            <div class="d-flex align-items-start flex-column">
                                <span class="fs-5 p-1"><b>Остаток: </b><mark>@item.Amount</mark></span>
                                <span class="fs-5 p-1"><b>Дата доставки: </b><mark>@item.DeliveryDateTime</mark></span>
                                <span class="fs-5 p-1"><b>Годен до: </b><mark>
                                    @{ 
                                        @item.DeliveryDateTime.AddHours(item.LifeTime)
                                    }
                                </mark></span>
                            </div>
                        </div>
                        <div id="@item.Id" class="card-footer align-content-center text-dark" style="background-color: #20c997">
                            <span id="timer-@item.Id"></span>
                            <script>
                                let deliveryDate_@item.Id = new Date("@item.DeliveryDateTime.ToString("yyyy-MM-ddTHH:mm:ss")").getTime();
                                let lifeTime_@item.Id = @item.LifeTime * 3600000;
                                let expirationDate_@item.Id = deliveryDate_@item.Id + lifeTime_@item.Id;
                                // Update the countdown every second
                                let Timer_@item.Id = setInterval(function() {
                                    let now = new Date().getTime();
                                    let distance = expirationDate_@item.Id - now;
                                    let days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                    let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                    let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                    let seconds = Math.floor((distance % (1000 * 60)) / 1000);
                                    if (distance < 0) {
                                        clearInterval(Timer_@item.Id);
                                        document.getElementById('timer-@item.Id').innerHTML = 'Не годен';
                                        document.getElementById('@item.Id').style.backgroundColor = '#ff8080';
                                    }
                                    else if (distance > lifeTime_@item.Id)
                                    {
                                        document.getElementById('timer-@item.Id').innerHTML = 'Не доставлен';
                                        document.getElementById('@item.Id').style.backgroundColor = '#87cefa';                                            
                                    }
                                    else
                                    {
                                        document.getElementById('timer-@item.Id').innerHTML = 'Срок годности кончается через ' + days + 'д ' + hours + 'ч ' + minutes + 'м ' + seconds + 'с ';
                                        document.getElementById('@item.Id').style.backgroundColor = '#20c997';   
                                    }
                                }, 1000);
                            </script> 
                        </div>                        
                    </div>
                }
            }
            @{
                var prevDisabled = !Model.PaginatedProducts.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.PaginatedProducts.HasNextPage ? "disabled" : "";
            }
                
            <a asp-page="./StockPage"
               asp-route-pageIndex="@(Model.PaginatedProducts.PageIndex - 1)"
               asp-route-login="@login"
               asp-route-isadmin="@isAdmin"
               class="btn btn-primary @prevDisabled">
                Previous
            </a>
            @for (int i = 1; i < Model.PaginatedProducts.TotalPages; i++)
            {
                var pageIndex = i;
                var isCurrent = Model.PaginatedProducts.PageIndex == i ? "disabled" : "";
                <a asp-page="./StockPage"
                   asp-route-pageIndex="@pageIndex"
                   asp-route-login="@login"
                   asp-route-isadmin="@isAdmin"
                   class="btn btn-secondary @isCurrent">
                    @pageIndex
                </a>
            }
            <a asp-page="./StockPage"
               asp-route-pageIndex="@(Model.PaginatedProducts.PageIndex + 1)"
               asp-route-login="@login"
               asp-route-isadmin="@isAdmin"
               class="btn btn-primary @nextDisabled">
                Next
            </a>
        </div>
    </div>
</div>