@page
@model SIPI_CRM_System.Pages.MainPageModel
@{
    string id = Request.Query["id"];
    string isAdmin = Request.Query["isadmin"];

    ViewData["Title"] = "Dashboard";

    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<!--Menu Button Offcanvas left-->
<div class="offcanvas offcanvas-start menu-offcanvas"
     tabindex="-1"
     id="offcanvasMenu"
     aria-labelledby="offcanvasMenu">
    <!--Offcanvas header-->
    <div class="offcanvas-header text-light">
        <h5 class="offcanvas-title" id="offcanvasMenu">Главное меню</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!--Offcanvas body-->
    <div class="offcanvas-body">
        <nav class="dashboard-nav-list">
            <!--User Page-->
            <a class="navbar-brand" asp-area=""
               asp-page="/UserPage/UserPage"
               asp-route-id="@id"
               asp-route-isadmin="@isAdmin">
                Личный кабинет
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav-item-divider"></div>
            <!--Main Page-->
            <a class="navbar-brand" asp-area=""
               asp-page="/MainPage/MainPage"
               asp-route-id="@id"
               asp-route-isadmin="@isAdmin">
                Dashboard
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav-item-divider"></div>
            <!--Stock Page-->
            <a class="navbar-brand" asp-area=""
               asp-page="/StockPage/StockPage"
               asp-route-id="@id"
               asp-route-isadmin="@isAdmin">
                Склад
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav-item-divider"></div>
            <!--Menu Page-->
            <a class="navbar-brand" asp-area=""
               asp-page="/MenuPage/MenuPage"
               asp-route-id="@id"
               asp-route-isadmin="@isAdmin">
                Меню
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Admin Page-->
            @if (isAdmin == "True")
                {
                <div class="nav-item-divider"></div>
                <a class="navbar-brand" asp-area=""
                   asp-page="/MainPage/MainPage"
                   asp-route-id="@id"
                   asp-route-isadmin="@isAdmin">
                    Панель администатора
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                }
        </nav>
    </div>
</div>


<section>
    <div>.</div>
    <!--Close Work Day Alert-->
    @if (Request.Query["invalidpassword"] == "True")
    {
        <div class="alert alert-danger mb-2" role="alert">
            Неверный пароль для закрытия смены! Повторите попытку!
        </div>
    }

    <!--Info blok-->
    <div class="row mb-2">
        <div class="col-6 text-light text-center">
            @{
                decimal? sum = 0;
                foreach (var order in Model.dailyOrders.Where(x => x.IsDone))
                {
                    if (order.Price != null)
                    {
                        sum += order.Price;
                    }
                }
                <p>Выручка - @sum</p>
            }
        </div>
        <div class="col-6 text-light text-center">
            @{
                var count = Model.dailyOrders.Where(x => x.IsDone).Count();
                if (count > 0)
                {
                    <p>Средний чек - @(sum/count)</p>
                }
                else
                {
                    <p>Средний чек - 0</p>
                }
            }
        </div>
    </div>
    <div class="d-grid">
        <!--New Order Buttton-->
        <button class="btn btn-primary text-light new-order-button mb-1"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNewOrder"
                aria-controls="offcanvasNewOrder">
            Новый заказ
        </button>
        <!--New Order Offcanvas right-->
        <div class="offcanvas offcanvas-end new-order-offcanvas"
             tabindex="-1"
             id="offcanvasNewOrder"
             aria-labelledby="offcanvasNewOrderLabel">
            <!--Offacnvas header-->
            <div class="offcanvas-header text-light">
                <h5 class="offcanvas-title" id="offcanvasNewOrder">Новый заказ</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <!--Offacnvas body-->
            <div class="offcanvas-body small m-3">
                <form asp-page-handler="create" method="post">
                    <div class="form-floating">
                        <div class="col">
                            <label for="validationCustom04" class="form-label">State</label>
                            <select class="form-select" id="validationCustom" required name="TableId">
                                <option selected disabled value="">Номер стола</option>
                                @foreach (var table in Model.tables)
                                {
                                    <option value="@table.Id">Стол номер - @table.Id</option>
                                }
                            </select>
                            <div class="invalid-feedback">
                                Необходимо выбрать стол
                            </div>
                        </div>
                    </div>
                    <input class="form-control date-contorl mt-1" type="date" name="Date" />
                    <input class="form-control time-control mt-1" type="time" name="Time" />
                    <button type="submit" class="btn-primary mt-1">Создать</button>
                </form>
            </div>
        </div>
        <!--Daily Orders Cards-->
        @if (Model.dailyOrders.Any())
        {
            @foreach (var item in Model.dailyOrders)
            {
                var cardId = "card-" + item.Id.ToString();
                var cardBodyId = "card-body-" + item.Id.ToString();

                var doneButtonId = "done-button-" + item.Id.ToString();

                var deleteOffcanvasId = "delete-offcanvas-" + item.Id.ToString();
                var reserveActivateOffcanvasId = "reserve-activate-offcanvas-" + item.Id.ToString();

                <div class="card mb-1 @cardId">
                    <!--Card color-->
                    @if (item.IsReserved)
                    {
                        <style type="text/css">
                        .@cardId {
                            background-color: red;
                            color: white;
                        }
                        .@doneButtonId {
                            pointer-events: none;
                        }
                        </style>
                    }
                    else if (item.IsDone)
                    {
                        <style type="text/css">
                        .@cardId {
                            background-color: green;
                            pointer-events: none;
                            color: white;
                        }
                        </style>
                    }
                    else
                    {
                        <style type="text/css">
                        .@cardId {
                            background-color: yellow;
                        }
                        </style>
                    }
                    <!--Card header-->
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5>
                            |Дата заказа: @item.OrderDateTime.ToShortDateString() @item.OrderDateTime.ToShortTimeString()|
                            |Номер стола - @Model.tables.First(x => x.Id == item.TableId).Id|
                        </h5>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <!--Order Done Button-->
                            <form asp-page-handler="SetOrderDone" asp-route-id="@item.Id" method="post">
                                <button type="submit" class="btn btn-success @doneButtonId">Заказ выполенен</button>
                            </form>
                            <!--Reserve Order Activate Button-->
                            @if (item.IsReserved)
                            {
                                <button class="btn btn-primary reserve-activate-button"
                                        data-bs-toggle="offcanvas"
                                        data-bs-target="#@reserveActivateOffcanvasId"
                                        aria-controls="@reserveActivateOffcanvasId">
                                    Подтвердить бронь
                                </button>
                                <!--Confirm Reserve Activate Offcanvas Rigth-->
                                <div class="offcanvas offcanvas-end delete-offcanvas"
                                     tabindex="-1"
                                     id="@reserveActivateOffcanvasId"
                                     aria-labelledby="@reserveActivateOffcanvasId">
                                    <!--Offcanvas header-->
                                    <div class="offcanvas-header text-light">
                                        <h5 id="@reserveActivateOffcanvasId">Клиенты пришли?</h5>
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                    </div>
                                    <!--Offcanvas body-->
                                    <div class="offcanvas-body">
                                        <div class="btn-toolbar" role="toolbar">
                                            <div class="btn-group me-2" role="group">
                                                <form asp-page-handler="SetReservedOrderActive" asp-route-id="@item.Id" method="post">
                                                    <button type="submit" class="btn btn-success">Подтвердить</button>
                                                </form>
                                            </div>
                                            <div class="btn-group me-2" role="group">
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas" aria-label="Close">Отменить</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!--Order Delete Button-->
                            <button class="btn btn-danger"
                                    data-bs-toggle="offcanvas"
                                    data-bs-target="#@deleteOffcanvasId"
                                    aria-controls="@deleteOffcanvasId">
                                Удалить заказ
                            </button>
                            <!--Confirm delete Offcanvas Rigth-->
                            <div class="offcanvas offcanvas-end delete-offcanvas"
                                 tabindex="-1"
                                 id="@deleteOffcanvasId"
                                 aria-labelledby="@deleteOffcanvasId">
                                <!--Offcanvas header-->
                                <div class="offcanvas-header text-light">
                                    <h5 id="@deleteOffcanvasId">Подтвердите удаление заказа:</h5>
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <!--Offcanvas body-->
                                <div class="offcanvas-body">
                                    <div class="btn-toolbar" role="toolbar">
                                        <div class="btn-group me-2" role="group">
                                            <form asp-page-handler="DeleteOrder" asp-route-id="@item.Id" method="post">
                                                <button type="submit" class="btn btn-success">Подтвердить</button>
                                            </form>
                                        </div>
                                        <div class="btn-group me-2" role="group">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas" aria-label="Close">Отменить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Card body-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 d-flex justify-content-center">
                                first
                            </div>
                            <div class="col-4 d-flex justify-content-center">
                                second
                            </div>
                            <div class="col-4 dish-list">
                                <a class="nav-link d-grid mb-1 mt-1" asp-area=""
                                    asp-page="/EditPages/OrderEditPage/OrderEditPage"
                                    asp-route-id="@id"
                                    asp-route-isadmin="@isAdmin"
                                    asp-route-orderId="@item.Id">
                                    <button class="btn btn-primary @doneButtonId add-dish-button">
                                    Добвать блюда
                                    </button>
                                </a>
                                <div class="d-flex justify-content-right">
                                    <ul>
                                        @foreach (var orderDish in item.DailyOrderDishes)
                                        {
                                            <li>@orderDish.Dish.Name @orderDish.Amount</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Card body-->
                    <div class="card-footer row">
                        <div class="col-md-7">
                            <button class="btn btn-primary w-100">Обновить заказ</button>
                        </div>
                        <div class="col-md-5">
                            <p class="text-center">@item.Price</p>
                        </div>
                    </div>
                </div>
            }
        }

        <!--Close Work Day Button-->
        <button class="btn btn-danger mb-3"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#closeWorkDayOffcanvas"
                aria-controls="closeWorkDayOffcanvas">
            Закрыть смену
        </button>
        <!--Close Work Day Offcanvas right-->
        <div class="offcanvas offcanvas-end close-work-day-offcanvas"
             tabindex="-1"
             id="closeWorkDayOffcanvas"
             aria-labelledby="closeWorkDayOffcanvas">
            <!--Offacnvas header-->
            <div class="offcanvas-header text-light">
                <h5 class="offcanvas-title" id="closeWorkDayOffcanvas">Уверены что хотите закрыть смену?</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <!--Offacnvas body-->
            <div class="offcanvas-body m-3">
                <p class="mb-3 text-light">Подтвердите закрытие смены вводом пароля:</p>
                <form asp-page-handler="CloseWorkDay" asp-route-id="@id" method="post">
                    <input class="d-grid" type="password" name="Password" placeholder="Пароль" />
                    <div class="row mt-3">
                        <div class="col-6 d-grid">
                            <button type="submit" class="btn btn-success">Подтвердить</button>
                        </div>
                        <div class="col-6 d-grid">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas" aria-label="Close">Отменить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>