@page
@model SIPI_CRM_System.Pages.UserPage.UserPageModel
@{
    string id = Request.Query["id"];
    string isAdmin = Request.Query["isadmin"];

    ViewData["Title"] = "User Page";

    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<!--Menu Button Offcanvas left-->
<div class="offcanvas offcanvas-start menu-offcanvas"
     tabindex="-1"
     id="offcanvasMenu"
     aria-labelledby="offcanvasMenu">
    <!--Offcanvas header-->
    <div class="offcanvas-header text-light">
        <h5 class="offcanvas-title" id="offcanvasMenu">Главное меню</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!--Offcanvas body-->
    <div class="offcanvas-body">
        <nav class="dashboard-nav-list">
            <!--User Page-->
            <a class="navbar-brand" asp-area=""
               asp-page="/UserPage/UserPage"
               asp-route-id="@id"
               asp-route-isadmin="@isAdmin">
                Личный кабинет
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav-item-divider"></div>
            <!--Main Page-->
            <a class="navbar-brand" asp-area=""
               asp-page="/MainPage/MainPage"
               asp-route-id="@id"
               asp-route-isadmin="@isAdmin">
                Dashboard
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav-item-divider"></div>
            <!--Stock Page-->
            <a class="navbar-brand" asp-area=""
               asp-page="/MainPage/MainPage"
               asp-route-id="@id"
               asp-route-isadmin="@isAdmin">
                Склад
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav-item-divider"></div>
            <!--Menu Page-->
            <a class="navbar-brand" asp-area=""
               asp-page="/MainPage/MainPage"
               asp-route-id="@id"
               asp-route-isadmin="@isAdmin">
                Меню
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Admin Page-->
            @if (isAdmin == "True")
            {
                <div class="nav-item-divider"></div>
                <a class="navbar-brand" asp-area=""
                   asp-page="/MainPage/MainPage"
                   asp-route-id="@id"
                   asp-route-isadmin="@isAdmin">
                    Панель администатора
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            }
        </nav>
    </div>
</div>
<div class="container profile-page">
    <div class="row center">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="card profile-header">
                <div class="body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="profile-image float-md-right"> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""> </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            <h4 class="m-t-0 m-b-0"><strong>@Model.employee.Name</strong></h4>
                            <span class="job_post">@Model.employee.Position.Name</span>
                            @if (Model.employee.IsAdmin)
                            {
                                <p>Права доступа: Администратор</p>
                            }
                            else
                            {
                                <p>Права доступа: Пользователь</p>
                            }
                            <div>
                                <button class="btn btn-primary btn-round offcanvas-edit-button"
                                        type="button"
                                        data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasBottom"
                                        aria-controls="offcanvasBottom">
                                    Изменить данные
                                </button>

                                <div class="offcanvas offcanvas-end offcanvas-edit text-light" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
                                    <div class="offcanvas-header">
                                        <h5 class="offcanvas-title" id="offcanvasBottomLabel">Изменить данные</h5>
                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body">
                                        <form asp-page-handler="Update" asp-route-id="@Model.employee.Id" method="post">
                                            <label for="Name">Имя:</label><br>
                                            <input type="text" id="Name" name="Name" placeholder="@Model.employee.Name" value="@Model.employee.Name">
                                            <hr>

                                            <label for="login">Логин:</label><br>
                                            <input type="text" id="login" name="login" placeholder="@Model.employee.Login" value="@Model.employee.Login">

                                            <hr>

                                            <label for="Password">Пароль:</label><br>
                                            <input type="password" id="Password" name="Password"><br>

                                            <label for="ConfirmPassword">Подтвердите пароль:</label><br>
                                            <input type="password" id="ConfirmPassword" name="ConfirmPassword">

                                            <hr>

                                            @if (Model.employee.IsAdmin)
                                            {
                                                <label for="Position">Должность:</label><br>
                                                <select id="Position" name="Position">
                                                    <option selected disabled value="@Model.employee.Position.Id">@Model.employee.Position.Name</option>
                                                    @foreach (var position in Model.positions)
                                                    {
                                                        if (position.Id != Model.employee.Position.Id)
                                                        {
                                                            <option value="@position.Id">@Model.employee.Position.Name</option>
                                                        }
                                                    }
                                                </select>
                                                <hr>
                                            }
                                            <button class="btn-success" type="submit">Подтвердить</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Request.Query["loginduplicate"] == "True")
                    {
                        <div class="alert alert-danger" role="alert">
                            Пользователь с таким логином уже существует!
                        </div>
                    }
                    @if (Request.Query["passwordvalidate"] == "True")
                    {
                        <div class="alert alert-danger" role="alert">
                            Пароли не совпадают!
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
