@page
@model SIPI_CRM_System.Pages.MenuPage.MenuPageModel
@{
    string id = Request.Query["id"];
    string isAdmin = Request.Query["isadmin"];

    ViewData["Title"] = "Menu";

    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<!--Menu Button Offcanvas left-->
<div class="offcanvas offcanvas-start menu-offcanvas"
     tabindex="-1"
     id="offcanvasMenu"
     aria-labelledby="offcanvasMenu">
    <!--Offcanvas header-->
    <div class="offcanvas-header text-light">
        <h5 class="offcanvas-title" id="offcanvasMenu">Главное меню</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!--Offcanvas body-->
    <div class="offcanvas-body">
        <nav class="dashboard-nav-list">
            <!--User Page-->
            <a class="navbar-brand" asp-area=""
               asp-page="/UserPage/UserPage"
               asp-route-id="@id"
               asp-route-isadmin="@isAdmin">
                Личный кабинет
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav-item-divider"></div>
            <!--Main Page-->
            <a class="navbar-brand" asp-area=""
               asp-page="/MainPage/MainPage"
               asp-route-id="@id"
               asp-route-isadmin="@isAdmin">
                Dashboard
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav-item-divider"></div>
            <!--Stock Page-->
            <a class="navbar-brand" asp-area=""
               asp-page="/StockPage/StockPage"
               asp-route-id="@id"
               asp-route-isadmin="@isAdmin">
                Склад
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav-item-divider"></div>
            <!--Menu Page-->
            <a class="navbar-brand" asp-area=""
               asp-page="/MenuPage/MenuPage"
               asp-route-id="@id"
               asp-route-isadmin="@isAdmin">
                Меню
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Admin Page-->
            @if (isAdmin == "True")
            {
                <div class="nav-item-divider"></div>
                <a class="navbar-brand" asp-area=""
                   asp-page="/MainPage/MainPage"
                   asp-route-id="@id"
                   asp-route-isadmin="@isAdmin">
                    Панель администатора
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            }
        </nav>
    </div>
</div>

<div class="container">
    <h1 class="text-center text-light">Меню</h1>
    <div class="row m-2">
        <!--Main Card-->
        <div class="card">
            <div class="card-body">
                <!--Category List-->
                @foreach (var category in Model.dishCategories)
                {
                    var collapseId = "collapse" + category.Replace(" ", "");
                    <!--Category Collapse Control Button-->
                    <button class="btn btn-primary" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#@collapseId"
                            aria-expanded="false"
                            aria-controls="collapseId">
                        @category
                    </button>
                }
                <!--Category Collapse List-->
                @foreach (var category in Model.dishCategories)
                {
                    var collapseId = "collapse" + category.Replace(" ", "");
                    <!--Category Collapse-->
                    <div class="collapse" id="@collapseId">
                        <div class="row m-2">
                            <div class="col-2 text-center">
                                <p>@category</p>
                            </div>
                            <div class="col-2">
                                <!--Close Button-->
                                <button class="btn btn-primary" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#@collapseId"
                                        aria-expanded="false"
                                        aria-controls="collapseId">
                                    Закрыть
                                </button>
                            </div>
                        </div>
                        <div class="row m-2">
                            <!--Sub Category List-->
                            @foreach (var sub in Model.dishSubCategories[category])
                            {
                                var subId = "collapseSub" + category.Replace(" ", "") + sub.Replace(" ", "");
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <!--Sub Category Collapse Control Button-->
                                            <button class="btn btn-primary" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#@subId"
                                                    aria-expanded="false"
                                                    aria-controls="@subId">
                                                @sub
                                            </button>
                                            <!--Sub Category Collapse -->
                                            <div class="collapse" id="@subId">
                                                @foreach (var dish in Model.dishes.Where(x => x.Category == category).Where(x => x.SubCategory == sub))
                                                {
                                                    var dishOffcanvasId = "offcanvas" + dish.Id.ToString();
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <p>@dish.Name</p>
                                                            <p>Цена: @dish.Price</p>

                                                            <button class="btn btn-primary"
                                                                    data-bs-toggle="offcanvas"
                                                                    data-bs-target="#@dishOffcanvasId"
                                                                    aria-controls="@dishOffcanvasId">
                                                                Посмотреть состав
                                                            </button>
                                                            <div class="offcanvas offcanvas-end edit-dish-offcanvas"
                                                                 tabindex="-1"
                                                                 id="@dishOffcanvasId"
                                                                 aria-labelledby="@dishOffcanvasId">

                                                                <div class="offcanvas-header text-light">
                                                                    <h5 id="@dishOffcanvasId">Состав блюда @dish.Name:</h5>
                                                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                                                </div>
                                                                <!--Offcanvas body-->
                                                                <div class="offcanvas-body">
                                                                    <a  class="nav-link"                                                                                 asp-area=""
                                                                        asp-page="/EditPages/DishEditPage/DishEditPage"
                                                                        asp-route-id="@id"
                                                                        asp-route-isadmin="@isAdmin"
                                                                        asp-route-dishid="@dish.Id">
                                                                        <button class="btn btn-primary">
                                                                            Изменить
                                                                        </button>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
